APP_NAME=HRMS
APP_ENV=local
APP_KEY=base64:aWsWIuadHld5GFGsFDDlC4rXsIbolPATEummd4vAA+Y=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

# DATABASE CONFIGURATION (TiDB Ready)
DB_CONNECTION=mysql
DATABASE_URL=
MYSQL_ATTR_SSL_CA=isrgrootx1.pem

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync



FILESYSTEM_DISK=local


MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

# Brevo API Settings
BREVO_API_KEY=
BREVO_FROM_EMAIL=
BREVO_FROM_NAME=
